<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>MainPageServlet</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.ua.dekhtiarenko.webapp.listener.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.CatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/CatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArrangeServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.ArrangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArrangeServlet</servlet-name>
        <url-pattern>/ArrangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminActionsServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.AdminActionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminActionsServlet</servlet-name>
        <url-pattern>/AdminActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LibrarianActionsServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.LibrarianActionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibrarianActionsServlet</servlet-name>
        <url-pattern>/LibrarianActionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReturnServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.ReturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnServlet</servlet-name>
        <url-pattern>/ReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.ChangeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserServlet</servlet-name>
        <url-pattern>/ChangeUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeBookServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.ChangeBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeBookServlet</servlet-name>
        <url-pattern>/ChangeBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InsertBookServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.InsertBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertBookServlet</servlet-name>
        <url-pattern>/InsertBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.MainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/MainPageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>com.ua.dekhtiarenko.webapp.controllers.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/LanguageServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AdminActionsFilter</filter-name>
        <filter-class>com.ua.dekhtiarenko.webapp.filter.AdminActionsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminActionsFilter</filter-name>
        <servlet-name>AdminActionsServlet</servlet-name>
        <url-pattern>/AdminActionsServlet?id=?</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LibrarianActionFilter</filter-name>
        <filter-class>com.ua.dekhtiarenko.webapp.filter.LibrarianActionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LibrarianActionFilter</filter-name>
        <servlet-name>LibrarianActionsServlet</servlet-name>
        <url-pattern>/LibrarianActionsServlet?id=?</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CharSetFilter</filter-name>
        <filter-class>com.ua.dekhtiarenko.webapp.filter.CharSetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type >
        <location>/error.jsp</location>
    </error-page>
</web-app>