html{
    background-image: url(https://media.proglib.io/wp-uploads/2019/02/books-lit@2x-e1550903308223.jpg);
}

.link {
    text-decoration: none;
    color: black;
    font-size: 19px;
    background-color: #F5DCCA;
    margin-left: 10px;
}

.link:hover {
    color: antiquewhite;
}

#languageHeader{
    position:absolute;
    top: 19%;
    right: 2%;
}

#notHiddenLinks{
    position: absolute;
    display:block;
    width: 10%;
    right: 8%;
    top: 22%;
    font-family: sans-serif;
}

#hiddenLinks{
    position: absolute;
    display:none;
    width: 10%;
    right: 8%;
    top: 22%;
    font-family: sans-serif;
}

.stick{
    margin-left: 10px;
}
.log{
    width: 450px;
    height: 400px;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin: 250px auto 0 auto;
    text-align: center;
    outline: none;
}

.books_catalog_button{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F3E3D8;
    border: 1px solid black;
    transition: 0.5s;
}

.books_catalog_lines,
.books_catalog_lines::after,
.books_catalog_lines::before{
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
}

.books_catalog_button:hover .books_catalog_lines{
    filter: brightness(0.7);
}

.books_catalog_lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.books_catalog_active .books_catalog_button,
.books_catalog_active .books_catalog_lines{
    background-color: transparent;
}

.books_catalog_active .books_catalog_lines::before{
    top: 0;
    transform: rotate(45deg);
}

.books_catalog_active .books_catalog_lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.books_catalog_lines::before{
    content: '';
    top: -10px;
}

.books_catalog_lines::after{
    content: '';
    top: 10px;
}

.books_catalog_nav{
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 50%;
    margin-top: 60px;
    background-color: #F5DCCA;
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
}

.books_catalog_active .books_catalog_nav{
    left: 0;
}

.books_catalog_link{
    padding: 25px;
    font-family: sans-serif;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
}

.books_catalog_link:hover{
    filter: brightness(0.7);
}

.books_catalog_overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.books_catalog_active .books_catalog_overlay{
    display: block;
}

.titleBook{
    background-color: #F0D3C0;
    margin-bottom: 20px;
    font-size:17px;
    font-family: 'Noto Sans JP', sans-serif;
}

.infoBook{
    text-align: left;
    margin-left: 200px;
    font-size:16px;
    font-family: 'Noto Sans JP', sans-serif;
}


.indent{
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size:16px;
    font-family: 'Noto Sans JP', sans-serif;
}


.pagination {
    display: inline-block;
    text-align:center;
    left:42%;
    position:absolute;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.catalogBook{
    margin-left: auto;
    margin-right: auto;
    height: 88%;
    width: 850px;
    font-size:16px;
    font-family: 'Noto Sans JP', sans-serif;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.bookStyle{
    margin-top: 30px;
    color:black;
    height: 460px;
    font-size: 17px;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid black;
    background-color: #F5DCCA;
}

.plotBook{
    float:right;
    margin-left: 5px;
    font-family: 'Noto Sans JP', sans-serif;
}

.arrange-book{
    position:absolute;
    height: 37px;
    width: 108px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 5px;
    background-color:#804621;
    color:#fff;
    border: none;
    cursor: pointer;
}

.order-book{
    position:absolute;
    height: 37px;
    width: 108px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 5px;
    background-color:#804621;
    color:#fff;
    border: none;
    cursor: pointer;
}

.order-book:hover{
    transition:  0.0s;
    background: #fff;
    color: #804621;
}

.arrange-book:hover{
    transition:  0.0s;
    background: #fff;
    color: #804621;
}

.return-book{
    position:absolute;
    height: 37px;
    width: 108px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 120px;
    background-color:#804621;
    color:#fff;
    border: none;
    cursor: pointer;
}

.return-book:hover{
    transition:  0.0s;
    background: #fff;
    color: #804621;
}

.mainInfoBook{
    text-align:bottom;
    font-size:15px;
    margin-left:15px;
    font-family: 'Noto Sans JP', sans-serif;
}

.bookIMG{
    height: 260px;
    width: 190px;
    margin-left: 5px;
}

.mainBooksImg{
    height: 270px;
    width: 200px;
    border-radius: 5%;
    margin-left: 15px;
    margin-top: 15px;
}

.search{
    width: 210px;
    height: 20px;
    margin-top: 16px;
    border: 1px solid black;
    background-color:#fff;
    color: black;
    outline: none;
    margin-left: 1200px;
    position:absolute;
    z-index: 2;
    font-family: 'Noto Sans JP', sans-serif;
}

.search-submit{
    width: 70px;
    height: 24px;
    margin-top: 16px;
    border: 1px solid black;
    background-color:#fff;
    margin-left: 1420px;
    position:absolute;
    z-index: 2;
}

.search-submit::hover{
    transition: 0.5s;
    background: #fff;
    color: #804621;
}

#search::-webkit-input-placeholder {
    color: #34373b;
}

.profile{
    margin-top: -100px;
    position:absolute;
    top:50%;
    left:50%;
    height: 460px;
    width:920px;
    transform:translate(-50%, -50%);
    border: 1px solid black;
    background-color: #4e4b46;
}

.personalData{
    color:#fff;
    position:absolute;
    text-align: left;
    margin-left: 185px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.editProfileButton{
    position:absolute;
    height: 40px;
    width: 108px;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 500px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.librarianActionsButton{
    position:absolute;
    height: 50px;
    width: 110px;
    font-size: 16px;
    margin-bottom: 650px;
    margin-left: 500px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.adminActionsButton{
    position:absolute;
    height: 50px;
    width: 108px;
    font-size: 16px;
    margin-bottom: 650px;
    margin-left: 500px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.editProfileButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

#hiddenBlock{
position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.6);
}

.changingUserButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.deletingBookButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.listOfBookButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.changingBookButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.insertingBookButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.changingUserButton{
    position:absolute;
    height: 40px;
    width: 90px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 185px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.insertingBookButton{
    position:absolute;
    height: 40px;
    width: 90px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 560px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
}

.deletingBookButton{
    position:absolute;
    height: 40px;
    width: 90px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 685px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
}

.changingBookButton{
    position:absolute;
    height: 40px;
    width: 90px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 310px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
}

.listOfBookButton{
    position:absolute;
    height: 40px;
    width: 90px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 435px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.listOfUsersButton{
    position:absolute;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 60px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

#returnButton{
    display:none;
}


#subscriptionTable{
    display:none;
}

#subscriptionBookTable{
    display:none;
}

#bookListTable{
    display:none;
    margin-right: 50px;
}

.selectSort{
    height: 30px;
    width: 120px;
    font-size: 15px;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sortedByText{
    position:absolute;
    margin-top: 80px;
    margin-left: 1400px;
    color: #F5DCCA;
    font-size:19px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
}

.sortText{
    font-size:16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.confirmSort{
    position:absolute;
    height: 35px;
    width: 90px;
    font-size: 16px;
    margin-top: 115px;
    margin-left: 1400px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.subscriptionOfUserButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

#mainPageSubmit{
    position:absolute;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 115px;
    background-color:#804621;
    margin-left: -50px;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.permissionText{
    position:absolute;
    font-size:18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    margin-left: 80px;
    margin-top: 50px;
}

#mainPageSubmit:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

#deleteSubmit{
    position:absolute;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 115px;
    background-color:#804621;
    margin-left: -50px;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

#deleteSubmit:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.subscriptionOfUserButton{
    position:absolute;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 180px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.bookListButton{
    position:absolute;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 300px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.subscriptionBookOfUserButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.mainBook{
    display:inline-block;
    margin-top: 68px;
    margin-left:70px;
}

.mainPageAvailabilityLess{
    height: 400px;
    width:1550px;
    transform:translate(-50%, -50%);
    border: 1px solid black;
    background-color: #F5DCCA;
    position:absolute;
    top:32%;
    left:55%;
}

.popular{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 300px;
    color:black;
    position:absolute;
    z-index: 1;
}

.muchInStock{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 30px;
    margin-top: 575px;
    margin-left: 300px;
    color:black;
    position:absolute;
    z-index: 1;
}

.mainPageAvailabilityMore{
    height: 400px;
    width:1550px;
    transform:translate(-50%, -50%);
    border: 1px solid black;
    background-color: #F5DCCA;
    position:absolute;
    top:78%;
    left:55%;
}

.subscriptionBookOfUserButton{
    position:absolute;
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 420px;
    background-color:#F5DCCA;
    color:black;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}

.bookListButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.listOfUsersButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.librarianActionsButton:hover{
    transition: 0.0s;
    background: #fff;
    color: #804621;
}

.editContainer{
    width: 22%;
    height: 50%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 39%;
    margin-top: 10%;
    text-align: center;
    position: absolute;
}

#insertContainer{
    width: 25%;
    height: 95%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 35%;
    margin-top: 5%;
    text-align: center;
    position: absolute;
}

#deleteBookContainer{
    width: 20%;
    height: 25%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 40%;
    margin-top: 14%;
    text-align: center;
    position: absolute;
    display:none;
}

#changeBookContainer{
    width: 20%;
    height: 30%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 40%;
    margin-top: 14%;
    text-align: center;
    position: absolute;
    display:none;
}

#insertBookContainer{
    width: 25%;
    height: 95%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 35%;
    margin-top: 5%;
    text-align: center;
    position: absolute;
    display:none;
}


#changeBook{
    width: 25%;
    height: 87%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 35%;
    margin-top: 5%;
    text-align: center;
    position: absolute;
}

#changeUserContainer{
    width: 20%;
    height: 30%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 40%;
    margin-top: 14%;
    text-align: center;
    position: absolute;
    display:none;
}

#changeUser{
    width: 25%;
    height: 60%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 33%;
    margin-top: 7%;
    text-align: center;
    position: absolute;
}

.librarianActions{
    margin-top: -60px;
    position:absolute;
    top:50%;
    left:50%;
    height:600px;
    width:1200px;
    transform:translate(-50%, -50%);
    border: 1px solid black;
    background-color: #4e4b46;
    Overflow:auto;
}

.permissionBlock{
    width: 20%;
    height: 30%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 39%;
    margin-top: 10%;
    text-align: center;
    position: absolute;
}

#deleteSubmitForm{
    width: 20%;
    height: 30%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 39%;
    margin-top: 10%;
    text-align: center;
    position: absolute;
}

.adminActions{
    margin-top: -60px;
    position:absolute;
    top:50%;
    left:50%;
    height:600px;
    width:1100px;
    transform:translate(-50%, -50%);
    border: 1px solid black;
    background-color: #4e4b46;
    Overflow:auto;
}

#tables{
    margin-left:5px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 100px;
    margin-left: 40px;
}

th, td:first-child {
    background: #F5DCCA;
    color: black;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

.profileImg{
    margin-left:5px;
    margin-top:5px;
    position:absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid black;
}

.container{
    width: 22%;
    height: 52%;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin-left: 39%;
    margin-top: 10%;
    text-align: center;
    position: absolute;
}

.container2{
    width: 430px;
    height: 350px;
    background-color: #F5DCCA;
    border-radius: 2%;
    margin: 250px auto 0 auto;
    text-align: center;
}

.input-change{
    margin-top:15px;
}

.input-insert{
    margin-top:15px;
}

.dws-input-insert input{
    width: 300px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #444343;
    padding-left: 8px;
    outline: none;
}

.dws-input-change input{
    width: 300px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #444343;
    padding-left: 8px;
    outline: none;
}

.dws-input input{
    width: 300px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2px solid #444343;
    padding-left: 8px;
    outline: none;
}

.reg_images{
    width: 32px;
    height: 32px;
    margin-bottom: -8px;
    margin-right: 15px;
}

.avatar{
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 1px solid black;
    border-radius: 50%;
}


.dws-submit{
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color:#804621;
    border: none;
    cursor: pointer;
}

.dws-submit:hover {
    transition:  0.0s;
    background: #fff;
    color: #804621;
}

.link:hover {
    color: #82625f;
}

.logo{
    position: absolute;
    top: 0;
    left: 5px;
}

.logo2{
    position: absolute;
    top: 0;
    left: 70px;
}

.usaFlag:hover{
    filter: brightness(0.9);
}

.rusFlag:hover{
    filter: brightness(0.9);
}

.logo2:hover{
    filter: brightness(0.9);
}

#catalogSubmit{
    padding: 13px 30px;
    position: absolute;
    margin-left: 35%;
    margin-top: -10%;
    font-size: 15px;
    color: #fff;
    background-color:cadetblue;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: #F5DCCA;
    z-index:1;
    border-bottom: 1px solid black;
}